.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
}

.App header {
  margin: 1rem;
}

.yellow, .red {
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.TestComponent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.TestComponent button {
  margin: 0.5rem;;
}